In [1]:
import pandas as pd
import matplotlib.pyplot as plt

%matplotlib inline

xls = pd.ExcelFile('crunchbase_monthly_export_d43b4klo2ade53.xlsx')

In [36]:
df1 = pd.read_excel(xls, 'Companies')
df2 = pd.read_excel(xls, 'Acquisitions')

In [5]:
#df1 = df1[(df1['region'] == 'SF Bay Area')]
#df1 = df1[(df1['city'] == 'San Francisco')]

#df1 = df1[(df1['funded_year'] >= 2004)]

In [6]:
data_df = df1[['name','first_funding_at','last_funding_at']]

In [10]:
data_df.reset_index();

In [ ]:
from datetime import datetime
from datetime import date

def find_date(df_elem):
    date1 = df_elem.split(' ')[0].split('-')
    date1 = date(int(date1[0]),int(date1[1]),int(date1[2]))
    return date1

In [12]:
data_df.head(5)

                name     first_funding_at      last_funding_at
20      1000memories  2010-01-01 00:00:00  2011-02-16 00:00:00
27           100Plus  2011-11-02 00:00:00  2011-11-30 00:00:00
54         140 Proof  2009-07-01 00:00:00  2011-04-28 00:00:00
57            15Five  2012-01-01 00:00:00  2014-10-02 00:00:00
80  1Life Healthcare  2013-03-21 00:00:00  2013-03-21 00:00:00

In [75]:
timedelta_tft = (data_df['last_funding_at'] - data_df['first_funding_at']);
data_df['funding_total_time'] = [int(x.days) for x in list(timedelta_tft)]
data_df.reset_index();

,name,first_funding_at,last_funding_at,funding_total_time
20,1000memories,2010-01-01 00:00:00,2011-02-16 00:00:00,411
27,100Plus,2011-11-02 00:00:00,2011-11-30 00:00:00,28
54,140 Proof,2009-07-01 00:00:00,2011-04-28 00:00:00,666
57,15Five,2012-01-01 00:00:00,2014-10-02 00:00:00,1005
80,1Life Healthcare,2013-03-21 00:00:00,2013-03-21 00:00:00,0
104,21000000,2013-11-17 00:00:00,2013-11-17 00:00:00,0
201,3D Control Systems,2013-11-10 00:00:00,2013-11-10 00:00:00,0
234,3Jam,2007-07-01 00:00:00,2007-07-01 00:00:00,0
250,3Scan,2011-08-31 00:00:00,2013-07-16 00:00:00,685
252,3Sourcing,2013-10-29 00:00:00,2013-10-29 00:00:00,0
259,3VR,2006-01-17 00:00:00,2013-10-04 00:00:00,2817
271,42,2013-02-21 00:00:00,2014-05-16 00:00:00,449
273,42Floors,2011-09-01 00:00:00,2013-01-31 00:00:00,518
307,50 Cubes,2012-01-01 00:00:00,2012-01-01 00:00:00,0
310,500Friends,2009-12-15 00:00:00,2013-03-12 00:00:00,1183
349,5th Finger,2008-06-13 00:00:00,2008-06-13 00:00:00,0
357,6connect,2011-08-23 00:00:00,2011-08-23 00:00:00,0
363,6Sense,2013-04-18 00:00:00,2014-05-19 00:00:00,396
364,6SensorLabs,2014-09-12 00:00:00,2014-09-12 00:00:00,0
398,8020 Media,2006-01-01 00:00:00,2006-01-01 00:00:00,0
416,8tracks Radio,2012-10-26 00:00:00,2014-08-28 00:00:00,671
437,99designs,2011-04-28 00:00:00,2011-04-28 00:00:00,0
505,Aardvark,2007-01-01 00:00:00,2008-10-01 00:00:00,639
558,Abiogenix,2012-08-15 00:00:00,2012-08-15 00:00:00,0
578,about.me,2009-12-22 00:00:00,2014-06-10 00:00:00,1631
615,Academia.edu,2007-11-02 00:00:00,2013-09-26 00:00:00,2155
616,Academic Earth,2008-10-01 00:00:00,2008-10-01 00:00:00,0
700,Accord,2014-05-12 00:00:00,2014-05-12 00:00:00,0
743,Acendi Interactive,2009-01-09 00:00:00,2009-01-09 00:00:00,0
765,AchieveMint,2012-01-01 00:00:00,2012-01-01 00:00:00,0
...,...,...,...,...
49001,ZenPayroll,2012-03-01 00:00:00,2014-02-19 00:00:00,720
49005,ZenPurchase,2014-09-01 00:00:00,2014-09-01 00:00:00,0
49006,Zenput,2013-01-15 00:00:00,2014-02-03 00:00:00,384
49012,Zentact,2008-09-01 00:00:00,2008-09-01 00:00:00,0
49030,Zephyr Health,2013-01-01 00:00:00,2014-01-08 00:00:00,372
49036,Zeppelin,2012-08-01 00:00:00,2012-08-01 00:00:00,0
49071,"Zesty, Inc.",2014-04-01 00:00:00,2014-04-01 00:00:00,0
49086,Zeuss,2012-10-15 00:00:00,2013-08-19 00:00:00,308
49091,Zextit,2011-08-31 00:00:00,2011-08-31 00:00:00,0
49135,Zigfu,2011-08-02 00:00:00,2011-08-02 00:00:00,0
49139,Zignal Labs,2012-01-08 00:00:00,2014-10-23 00:00:00,1019
49154,Zillabyte,2012-04-20 00:00:00,2013-06-05 00:00:00,411
49167,Zimride,2013-01-30 00:00:00,2013-01-30 00:00:00,0
49180,Zinio,2005-09-12 00:00:00,2011-11-23 00:00:00,2263
49211,Zipongo,2012-07-25 00:00:00,2012-10-01 00:00:00,68
49221,ZipZap,2010-05-01 00:00:00,2014-05-17 00:00:00,1477
49224,Zirtual,2013-01-14 00:00:00,2014-10-21 00:00:00,645
49225,ZIRX,2014-09-05 00:00:00,2014-09-05 00:00:00,0
49226,Zite,2007-01-01 00:00:00,2007-01-01 00:00:00,0
49230,Zivity,2007-08-01 00:00:00,2008-03-08 00:00:00,220
49302,ZoomForth,2014-07-03 00:00:00,2014-07-03 00:00:00,0
49311,ZoomSystems,2005-07-19 00:00:00,2010-01-14 00:00:00,1640
49316,Zooomr,2006-02-01 00:00:00,2006-02-01 00:00:00,0
49322,Zoosk,2007-03-01 00:00:00,2012-01-01 00:00:00,1767
49338,ZowPow,2014-01-01 00:00:00,2014-01-01 00:00:00,0
49340,ZOZI,2008-08-01 00:00:00,2013-04-04 00:00:00,1707
49364,Zuli,2012-07-19 00:00:00,2014-08-27 00:00:00,769
49379,Zumper,2012-05-30 00:00:00,2014-03-04 00:00:00,643
49418,Zymergen,2014-01-01 00:00:00,2014-01-01 00:00:00,0
49426,Zynga,2007-01-01 00:00:00,2011-02-18 00:00:00,1509

In [66]:
data_df.head(10)

,name,first_funding_at,last_funding_at,funding_total_time
20,1000memories,2010-01-01 00:00:00,2011-02-16 00:00:00,411
27,100Plus,2011-11-02 00:00:00,2011-11-30 00:00:00,28
54,140 Proof,2009-07-01 00:00:00,2011-04-28 00:00:00,666
57,15Five,2012-01-01 00:00:00,2014-10-02 00:00:00,1005
80,1Life Healthcare,2013-03-21 00:00:00,2013-03-21 00:00:00,0
104,21000000,2013-11-17 00:00:00,2013-11-17 00:00:00,0
201,3D Control Systems,2013-11-10 00:00:00,2013-11-10 00:00:00,0
234,3Jam,2007-07-01 00:00:00,2007-07-01 00:00:00,0
250,3Scan,2011-08-31 00:00:00,2013-07-16 00:00:00,685
252,3Sourcing,2013-10-29 00:00:00,2013-10-29 00:00:00,0

In [67]:
total_funding_time_dict = dict(zip(list(data_df.name),list(data_df.funding_total_time)));

In [68]:
import pickle

with open('sf_total_funding_time_dict.pickle', 'wb') as handle:
    pickle.dump(total_funding_time_dict, handle, protocol=pickle.HIGHEST_PROTOCOL)